# Extracting stock market data from Yahoo Finance and saving to CSV

## Installation of essential libraries
The following libraries are used in this project: pandas and yfinance.

In [37]:
!pip install yfinance pandas
import yfinance as yf
import pandas as pd

Requirement already satisfied: yfinance in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (0.2.66)
Requirement already satisfied: pandas in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.2.1)
Requirement already satisfied: requests>=2.31 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.4.7)
Requirement already satisfied: peewee>=3.16.2 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (3.18.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (0.14.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (6.33.2)
Requirement already satisfied: websockets>=13.0 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: cffi>=1.12.0 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from curl_cffi>=0.7->yfinance) (2024.12.14)
Requirement already satisfied: pycparser in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: six>=1.5 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dorian\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)

## 1. Choosing a stock and time period

In [38]:
TICKER = "AAPL"
START_DATE = "2015-01-01"
END_DATE = "2025-01-01"

In [39]:
df = yf.download(TICKER, start = START_DATE, end = END_DATE, auto_adjust = False)

df.reset_index(inplace=True)

if isinstance(df.columns, pd.MultiIndex):
    df.columns = df.columns.get_level_values(0)

df.head()

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
0,2015-01-02,24.237547,27.332500,27.860001,26.837500,27.847500,212818400
1,2015-01-05,23.554745,26.562500,27.162500,26.352501,27.072500,257142000
2,2015-01-06,23.556957,26.565001,26.857500,26.157499,26.635000,263188400
3,2015-01-07,23.887278,26.937500,27.049999,26.674999,26.799999,160423600
4,2015-01-08,24.805079,27.972500,28.037500,27.174999,27.307501,237458000

## 2. Data cleaning and preprocessing

In [40]:
df.isnull().sum()  # Number of missing values in each column

Price
Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

In [41]:
df.dropna(inplace=True) # Removing missing data

df = df[df["Volume"] > 0] # Removing non-working days

df.sort_values("Date", inplace=True)

df.head()

Price,Date,Adj Close,Close,High,Low,Open,Volume
0,2015-01-02,24.237547,27.332500,27.860001,26.837500,27.847500,212818400
1,2015-01-05,23.554745,26.562500,27.162500,26.352501,27.072500,257142000
2,2015-01-06,23.556957,26.565001,26.857500,26.157499,26.635000,263188400
3,2015-01-07,23.887278,26.937500,27.049999,26.674999,26.799999,160423600
4,2015-01-08,24.805079,27.972500,28.037500,27.174999,27.307501,237458000

## 3. Saving data as a csv file

In [42]:
import os

output_path = "../data"
os.makedirs(output_path, exist_ok=True)

df.to_csv(f"{output_path}/{TICKER}data.csv", index=False)